@import "../../../css/colors.css";
@import "../../../css/units.css";

.modal-content {
    width: 480px;
}

.header {
    background-color: $pen-primary;
}

.body {
    background: $ui-white;
    padding: 5px;
}

.separator {
    background-color: hsla(0, 0%, 95%, 1);
    width: 100%;
    height: 1px;
}