.classStudentsContainer {
    display: grid;
    grid-template-rows: min-content 1fr;
    width: 100%;
    padding: 20px;
    position: relative;
}

.sessionTimelineContainer {

}

.sortByContainer {

}

.studentsGridOuterContainer{}
.studentsGridTitle{
    margin-bottom: 0;
}

.studentsGridOuterContainer {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas: 'studentsColorCodingContainer sortByContainer' 'studentsGridContainer studentsGridContainer';
}

.studentsColorCodingContainer {
    grid-area: studentsColorCodingContainer;
}

.sortByContainer {
    grid-area: sortByContainer;
    justify-self: end;
    align-self: end;
}

.studentsGridContainer {
    grid-area: studentsGridContainer;
}


.backToGridButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #232b2b;

    outline: none;
    border: none;
    
    background: #b5d0ee; 
    border-radius: 5px;
    padding: 5px 10px;
    
}

.spinner {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: auto;
}