.overviewContainer {
  display: grid;
  grid-template-areas:
    "spiderGraph supportChampions separator notes"
    "progressOverTime progressOverTime separator notes";
  grid-template-columns: min-content min-content 1px 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  height: 100%;
}

.spiderGraphContainer {
  grid-area: spiderGraph;
  justify-self: center;
}

.supportChampionsContainer {
  grid-area: supportChampions;
}

.progressOverTimeContainer {
  grid-area: progressOverTime;
}

.separator {
  grid-area: separator;
}

.notesContainer {
  grid-area: notes;
}
