@import "../../../css/units.css";
@import "../../../css/colors.css";
@import "../../../css/z-index.css";

.step-image {
  max-width: 450px;
  max-height: 200px;
  object-fit: contain;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 0.5rem 0.5rem;
}

.step-title {
  font-size: 0.9rem;
  margin: 0.9rem;
  text-align: center;
  font-weight: bold;
  color: $text-primary;
}
