.overviewContainer {
  display: grid;
  padding: 20px;
  grid-template-areas:
    "sessionsTimeline sessionsTimeline sessionsTimeline sessionsTimeline"
    "spiderGraph supportChampions separator notesAnnouncements"
    "progressOverTime progressOverTime separator notesAnnouncements";
  grid-template-columns: min-content min-content 1px 1fr;
  grid-template-rows: min-content 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  /* height: 100%; */
}

.notesAnnouncementsContainer {
  grid-area: notesAnnouncements;
  display: grid;
  grid-template-areas:
    "notes"
    "announcements";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}

.sessionTimelineContainer {
  grid-area: sessionsTimeline;
}

.spiderGraphContainer {
  grid-area: spiderGraph;
  justify-self: center;
}

.supportChampionsContainer {
  grid-area: supportChampions;
}

.progressOverTimeContainer {
  grid-area: progressOverTime;
  min-height: 200px;
}

.separator {
  grid-area: separator;
  background-color: #b5d0ee;
}

.notesContainer {
  grid-area: notes;
}

.announcementsContainer {
  grid-area: announcements;
}

.noData {
  grid-area: nodata;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.noDataTitle {
  font-size: 20px;
  color: #7b8fa5;
  font-weight: bold;
}

.noDataSubtitle {
  font-size: 16px;
  color: #7b8fa5;
}

@media (max-width: 1124px) {
  .overviewContainer {
    grid-template-areas:
      "sessionsTimeline sessionsTimeline"
      "spiderGraph supportChampions"
      "progressOverTime progressOverTime"
      "notesAnnouncements notesAnnouncements";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr;
  }

  .notesAnnouncementsContainer {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "notes . announcements";
    column-gap: 5px;
  }

  .separator {
    display: none;
  }
}

@media (max-width: 868px) {
  .overviewContainer {
    grid-template-areas:
      "sessionsTimeline sessionsTimeline"
      "spiderGraph spiderGraph"
      "supportChampions supportChampions"
      "progressOverTime progressOverTime"
      "notesAnnouncements notesAnnouncements";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
  }

  .notesAnnouncementsContainer {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "notes . announcements";
    column-gap: 5px;
  }

  .separator {
    display: none;
  }

  .notesContainer,
  .announcementsContainer {
    min-height: 200px;
  }
}
