.marty-connect-btn-container {
  display: grid;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.marty-connect-btn-container svg {
  width: 100px;
}


.marty-disconnect-btn-container {
  display: grid;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.marty-disconnect-btn-container svg {
  width: 20px;
  min-width: 15px;
  max-width: 25px;
}

.icon-container {
  background-color: white;
  border-radius: 6px;
  padding: 2px;
  display: flex;
}

.icon {
  height: 1.8rem;
}