[submodule "scratch-l10n"]
    path = scratch-l10n
    url = ./scratch-l10n

[submodule "scratch-blocks"]
    path = scratch-blocks
    url = ./scratch-blocks

[submodule "scratch-gui"]
    path = scratch-gui
    url = ./scratch-gui

[submodule "scratch-vm"]
    path = scratch-vm
    url = ./scratch-vm