.sortByStudentsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sortByLabel {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}

.sortBySelect {
    font-size: 10px;
    font-weight: 300;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    outline: none;
    background: white;
}