.plotContainer {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: min-content max-content;
  height: min-content;
  width: min-content;
}

.plotTitle {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
