.announcementsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  max-height: 75vh;
}

.header {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tabTitle {
  margin: 0;
}

.sortContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.sortLabel {
  margin-right: 5px;
}

.announcement {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.announcement p {
  margin: 5px 0;
}

.announcementIsActive {
  color: rgb(12, 223, 132);
  text-decoration: underline;
  cursor: pointer;
}

.makeNewAnnouncementModal {
  width: min-content;
}