@import "../../../css/units.css";
@import "../../../css/colors.css";
@import "../../../css/z-index.css";

.header-buttons {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content max-content 1fr;
  align-items: center;
  background: rgb(55, 171, 200);
  border-bottom: 1px solid black;
  font-size: 0.625rem;
  font-weight: bold;
}

.header-buttons-hidden {
  border-bottom: 0px;
}

.lesson-title-container {
  margin-left: 0.5rem;
}

.lesson-title {
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  margin: 0.5rem 0;
}

.header-buttons-right {
  justify-self: end;
  display: flex;
  flex-direction: row;
}

.header-buttons img {
  margin-bottom: 2px;
}

.shrink-expand-button {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.step-number-on-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin: 0 0.2rem;
  text-align: center;
  font-weight: bold;
  color: black;
  background: white;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid black;
}

.shrink-expand-button:hover {
  background-color: $ui-black-transparent;
}

.remove-button {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.remove-button:hover {
  background-color: $ui-black-transparent;
}

.close-icon {
  height: 1.25rem;
  margin: 0.125rem 0; /* To offset the .25rem difference in icon size */
}

[dir="ltr"] .close-icon {
  margin-left: 0.25rem;
}

[dir="rtl"] .close-icon {
  margin-right: 0.25rem;
}
