.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "batt-perc" "battery";
}

.battery-percent {
    transform: translateY(-2px);
    justify-self: center;
    grid-area: batt-perc;
    font-size: 8px;
    margin: 0;
}

.battery-flash {
    opacity: 1;
    animation: fade 2s linear infinite;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.battery-container {
    grid-area: battery;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 200%;
    /* padding: 5px; */
    transform: translateY(-60%) rotate(90deg) translateX(5px);
}

.battery-cap {
    width: 4px;
    height: 1px;
}

.battery-cylinder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-width: 1px;
    border-style: solid;
    width: 10px;
    flex: 1;
    border-radius: 2px;
}
