.studentDataModal {
    overflow-y: auto;
    max-height: 90vh;
}

.studentDataModalContent {

}

.studentDataModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.navigationTabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.navigationTab {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.selectedTab {
    background-color: #ccc;
}