@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: 80%;
    height: 80%;
    position: relative;
    overflow: scroll;
}

pre[class*="language-"] {
    margin: 0 !important;
    border-radius: 0 !important;
    height: 100% !important;
}

.body {
    background: $ui-white;
    /* padding: 1.5rem 2.25rem; */
    height: 100%;
    max-height: 75vh;
    max-width: 75vw;
    overflow: scroll;
    cursor: text;
}

.body input[type="checkbox"],
.body input[type="radio"] {
    margin: 3px;
}

.codeContainer {
    height: 100%;
}

.codeContainer pre::-webkit-scrollbar,
.body::-webkit-scrollbar {
    display: none;
}

.button-row {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    padding: 1rem;
}

.label {
    font-weight: 500;
    margin: 0 0 0.75rem;
}

.disabled-label {
    opacity: 0.5;
}

.variable-name-text-input {
    margin-bottom: 1.5rem;
    width: 100%;
    border: 1px solid $ui-black-transparent;
    border-radius: 5px;
    padding: 0 1rem;
    height: 3rem;
    color: $text-primary-transparent;
    font-size: 0.875rem;
}

.info-message {
    font-weight: normal;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.options-row {
    display: flex;
    font-weight: normal;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    background-color: white;
}

.button-row {
    font-weight: bolder;
    text-align: right;
}

.button-row button {
    border-radius: 0.25rem;
    background: white;
    border: 1px solid $ui-black-transparent;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
}

.button-row button.ok-button {
    background: $motion-primary;
    border: $motion-primary;
    color: white;
}

[dir="ltr"] .button-row button + button {
    margin-left: 0.5rem;
}

[dir="rtl"] .button-row button + button {
    margin-right: 0.5rem;
}

.cloud-option {
    display: flex;
    border-top: 1px dashed hsla(0, 0%, 0%, 0.25);
    overflow: visible;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.cloud-option-text {
    opacity: 0.5;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    overflow: auto;  
}

.header {
    background: $ui-white;
    border-bottom: 1px solid $ui-black-transparent;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cpToClipboardBtn {
    background: $motion-primary;
    border: $motion-primary;
    color: white;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.cpToClipboardBtnIcon  {
    width: 20px;
    height: 20px;
}