.dashboardContainer {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: min-content 1fr 1fr;
  grid-template-areas:
    "header notes"
    "students notes"
    "students announcements";
  row-gap: 10px;
  column-gap: 10px;
}

@media (max-width: 768px) {
  .dashboardContainer {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "students"
      "notes"
      "announcements";
  }

  .notesContainer,
  .announcementsContainer {
    min-height: 200px;
  }
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: min-content max-content max-content max-content 1fr max-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "startstop classname classsection classSessionName classSessionName ."
    "startstop classenrolledstudents classenrolledstudents classSessionName classSessionName sortby";
}

.sortByContainer {
  grid-area: sortby;
  justify-self: end;
}
.className {
  grid-area: classname;
  font-size: 20px;
  font-weight: 500;
  border-right: 2px solid black;
  padding-right: 0.3rem;
  margin-right: 0.3rem;
  align-self: flex-end;
}
.classSection {
  grid-area: classsection;
  font-size: 14px;
  font-weight: bold;
  /* border-right: 2px solid black; */
  padding-right: 0.3rem;
  margin-right: 0.3rem;
  align-self: flex-end;
}
.classSessionName {
  grid-area: classSessionName;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  border: 2px solid #b5d0ee;
  padding: 5px 15px;
  background: white;
}
.classSessionName input {
  background: white;
  outline: none;
  border: none;
  text-align: center;
}
.classSessionName input::placeholder {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.classEnrolledStudents {
  grid-area: classenrolledstudents;
  font-size: 14px;
  font-weight: 300;
}
/* HEADER END */

/* STUDENTS */
.studentsContainer {
  grid-area: students;
}
/* STUDENTS END */

/* NOTES */
.notesContainer {
  grid-area: notes;
  margin-top: 26px;
}
/* NOTES END */

/* ANNOUNCEMENTS */
.announcementsContainer {
  grid-area: announcements;
}
/* ANNOUNCEMENTS END */
