.dashboardContainer {
  padding: 20px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: min-content 1fr 1fr;
  grid-template-areas:
    "header ."
    "students notes"
    "students announcements";
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: min-content max-content max-content max-content 1fr max-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "startstop classname classsection classSessionName classSessionName ."
    "startstop classenrolledstudents classenrolledstudents classSessionName classSessionName sortby";
}

.startStopSessionContainer {
  grid-area: startstop;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #35abc7;
  padding-right: .6rem;
  margin-right: .5rem;
}
.startStopSessionButtonContainer {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startSessionButtonContainer {
  background-color: #4caf50;
}
.stopSessionButtonContainer {
  background-color: #f44336;
}

.startStopSessionImg {
  width: 25px;
  height: 25px;
}
.startStopSessionText {
  font-size: 6px;
  text-align: center;
}
.sortByContainer {
  grid-area: sortby;
  justify-self: end;
}
.className {
  grid-area: classname;
  font-size: 20px;
  font-weight: 500;
  border-right: 2px solid black;
  padding-right: .3rem;
  margin-right: .3rem;
  align-self: flex-end;
}
.classSection {
  grid-area: classsection;
  font-size: 14px;
  font-weight: bold;
  /* border-right: 2px solid black; */
  padding-right: .3rem;
  margin-right: .3rem;
  align-self: flex-end;
}
.classSessionName {
  grid-area: classSessionName;
  align-self: center;
  justify-self: center;
}
.classEnrolledStudents {
  grid-area: classenrolledstudents;
  font-size: 14px;
  font-weight: 300;
}
/* HEADER END */


/* STUDENTS */
.studentsContainer {
  grid-area: students;
}
/* STUDENTS END */

/* NOTES */
.notesContainer {
  grid-area: notes;
  background: blue;
}
/* NOTES END */


/* ANNOUNCEMENTS */
.announcementsContainer {
  grid-area: announcements;
  background: green;
}
/* ANNOUNCEMENTS END */

