.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.classAverageColumn {
    border: 5px solid #ddd;
}

.cell {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    padding: 10px !important;
    border-right: 1px solid #ddd !important;
}

.tableButtonsContainer {
    display: grid;
    justify-content: start;
    width: 100%;
}

.tableModeToggleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.tableModeToggleSelected {
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.tableModeToggle {
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}