.submitCodeSectionContainer {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-areas: "code explanation";
    grid-template-columns: 1.5fr max-content;
    gap: 10px;
    background: hsla(215, 100%, 95%, 1);
}

@media (max-width: 868px) {
    .submitCodeSectionContainer {
        grid-template-areas: "code" "explanation";
        grid-template-columns: 1fr;
    }
}


.codeArea,
.explanationArea {
    border: 1px solid #b5d0ee;
    border-radius: 20px;
    padding: 15px;
    background: white;
}

.codeArea {
    grid-area: code;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.spinner {
    border-color: hsla(215, 100%, 65%, 1) !important;
}

/* explanation area */
.explanationArea {
    grid-area: explanation;
    position: relative;
}