@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";
@import "../../css/typography.css";


.main-container {
    background-color: $ui-white;
    border: 1px solid $ui-black-transparent;
    display: grid;
    grid-template-rows: .12fr .88fr;
    grid-template-columns: 1fr; 
    height: 100%;
    width: 100%;
}

.header {
    background-color: #B5D0EE;
    border: 1px solid $ui-black-transparent;
    padding: calc(2 * $space);
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
}

.content {
    background-color: $ui-primary;
}




.button {
    background-color: #608DC9;
    outline: none;
    border-radius: 2rem;
    border: 1px solid $ui-black-transparent;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    margin: 0px;
    padding: 0 2rem;
    height: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.button-selected {
    background-color: #F18921;
}

.button-title {
    color: $ui-white;
    font-size: 0.85rem;
    text-align: center;
    margin: 0;
    align-self: end
}

.button-subtitle {
    color: $ui-white;
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
    align-self: start

}