@import "../../../../css/units.css";
@import "../../../../css/colors.css";
@import "../../../../css/z-index.css";

.step-body {
  height: 100%;
  width: 100%;
  background: $ui-white;
  display: flex;
  flex-grow: 1;
  row-gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;

  /* Min height prevents layout changing when images change */
  min-height: 256px;

  /* max-height: 350px; */
  overflow: auto;

  cursor: default;
  padding: 0.5rem;
}
