@import "../../../../css/units.css";
@import "../../../../css/colors.css";
@import "../../../../css/z-index.css";
@import "../../../../css/typography.css";

.tab {
  background-color: #608dc9;
  outline: none;
  border-radius: 2rem;
  border: 1px solid $ui-black-transparent;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
  margin: 0px;
  padding: 0 2rem;
  height: 3rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;

  color: $ui-white;
  font-size: 0.85rem;
  text-align: center;
  margin: 0;
  align-self: end;
}

.selectedTab {
  background-color: #f18921;
}
