@import "../../css/colors.css";
@import "../../css/units.css";

.editor-container {
    display: flex;
    max-height: 87vh;
    flex-direction: column;
    flex-grow: 1;
    padding: calc(2 * $space);
    width: 100%;
}

.trainingRunningContainer {
    display: grid;
    justify-content: center;
    align-items: center;
}

.more-info-icon-container {
    display: inline-block;
    background-color: rgb(255, 193, 7);
    border-radius: 6px;
    display: flex;
    align-self: flex-start;
    margin-right: 0.5rem;
  }
  
  .more-info-icon {
    cursor: pointer;
    height: 1.8rem;
    align-self: center;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
  }

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[dir="rtl"] .row-reverse {
    flex-direction: row-reverse;
}


.row + .row {
    margin-top: calc(2 * $space);
}

.input-group {
    display: flex;
    flex-direction: row;
}

[dir="ltr"] .input-group + .input-group {
    margin-left: calc(2 * $space);
}

[dir="rtl"] .input-group + .input-group {
    margin-right: calc(2 * $space);
}

[dir="ltr"] .input-group {
    padding-right: calc(2 * $space);
    border-right: 1px dashed $ui-black-transparent;
}

[dir="rtl"] .input-group {
    padding-left: calc(2 * $space);
    border-left: 1px dashed $ui-black-transparent;
}

[dir="rtl"] .row-reverse > .input-group {
    padding-left: 0;
    padding-right: calc(2 * $space);
    border-left: none;
    border-right: 1px dashed $ui-black-transparent;
}

.waveform-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    position: relative;

    background: hsla(300, 53%, 60%, 0.15);
    border: 1px solid $ui-black-transparent;
    border-radius: 5px;

    margin-top: 20px;
    margin-bottom: 20px;
}

$border-radius: 0.25rem;

.button {
    height: 2rem;
    padding: 0.35rem;
    outline: none;
    background: white;
    border-radius: $border-radius;
    border: 1px solid $ui-black-transparent;
    cursor: pointer;
    font-size: 0.85rem;
    transition: 0.2s;
    user-select: none;
    margin: 0px;
}

.button > img {
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    min-width: 1.25rem;
}

.round-button {
    height: 3rem;
    width: 3rem;
    outline: none;
    background: $motion-primary;
    border-radius: 100%;
    border: 4px solid $ui-white-dim;
    cursor: pointer;
    padding: 0.75rem;
    user-select: none;
}

.round-button > img {
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    /*min-width: 1.5rem;*/
}

[dir="rtl"] .undo-icon,
[dir="rtl"] .redo-icon {
    transform: scaleX(-1);
}

[dir="rtl"] .flip-in-rtl img {
    transform: scaleX(-1);
}

[dir="ltr"] .button-group {
    margin-left: 1rem;
}

[dir="rtl"] .button-group {
    margin-right: 1rem;
}

.button-group {
    display: flex;
}

.button-group .button {
    border-radius: 0;
}

[dir="ltr"] .button-group .button {
    border-left: none;
}
[dir="rtl"] .button-group .button {
    border-right: none;
}

[dir="ltr"] .button-group .button:last-of-type {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

[dir="ltr"] .button-group .button:first-of-type {
    border-left: 1px solid $ui-black-transparent;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

[dir="rtl"] .button-group .button:last-of-type {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

[dir="rtl"] .button-group .button:first-of-type {
    border-right: 1px solid $ui-black-transparent;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.button:disabled > img {
    opacity: 0.25;
}

.buttonDisabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* CLASSES */
.classesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    padding: 16px;
    border-radius: 8px;
    width: 80%;
}

.classContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.classLabel {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
    border-bottom: 1px solid #ccc;
}

.modelSamplesContainer {
    display: flex;
    flex-wrap: wrap;
}


.rowCustom {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
}

.modelSampleContainer {
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 58px;
    height: 58px;
    position: relative;
}

.modelSample {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 58px;
    height: 58px;
}

.samplesLengthTitle {
    font-size: 13px;
    color: #333;
    margin: 0;
}

.modelClassesOuterContainer {
    overflow-y: scroll;
    max-height: 400px;
}

.modelSampleOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.modelSampleOverlayDelete {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.modelSampleContainer:hover .modelSampleOverlay {
    opacity: 1;
}

.modelSampleContainer:hover .modelSampleOverlayDelete {
    opacity: 1;
}


.trainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.betaTag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #333;
    font-family: fantasy;
}

.betaTagSpan {
    color: #575757;
    font-size: 12px;
}

.selectClassName {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.625rem;
    font-weight: bold;
    color: hsla(225, 15%, 40%, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    border-radius: 25px;
    width: 150px;
    border: 1px solid #ccc;
    cursor: pointer;
}